
body,{
  opacity: 0.5;
  font-family: sans-serif;
  color: black;
  font-size: 15px;
  cursor: default;
  line-height: 1.6;
  box-sizing: border-box;
  height: 870px;
  width: 880px;
  margin: 20px;
}

resume{
  height: 870px;
  width: 225px;
  box-sizing: border-box;
  display: block;
}

h3{
  color: black;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
}

h4{
  color: red;
  text-transform: uppercase;
  font-size: 16px;
  padding: 3px;
  text-align: center;
}

.left, .right{
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

.left{
  float: left;
  width: 225px;
  background: white;
  padding: 30px 15px;
  box-sizing: border-box;
}

.left profile{
  background: white;
  padding: 30px 15px 5px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: -1;
}

.left profile background{
  content: '';
  position: absolute;
  z-index: 1;
  background: black; 
  text-align: center;
}

img{
  width: 100%;
  border-radius: 50%;
}

.left profile info{
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  display: block;
}


.right{
  width: 645px;
  background: grey;
  padding: 30px 25px;
  box-sizing: border-box;
  display: block;
  
}
.right .content{
  width: 570px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.right .content .work, .right content .edu{
  float: left;
}
.right .content .work{
  font-size: 15px;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
 ul.timeline::before {
  content:" ";
  background: black;
  display: inline-block;
  left: 20px;
  width: 5px;
  height: 100%;
  z-index: 400;
  transition-duration: 0.3s;
}
ul.timeline > li {
  margin-bottom:10px;
  padding-left: 30px;
}
ul.timeline > li:before {
  content: "";
  background: rgb(230, 128, 128);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 0;
  left: 10px;
  width: 10px;
  height: 10px;
  z-index: 400;
  text-align: center;
  line-height: 50px;
  color: #d4d9df;
  font-size: 24px;
  border: 2px solid #d4d9df;
}



.right .content .edu{
  font-size: 20px;
}


p1{
  color: black;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Comic Sans MS, comic sans, cursive;;
}
